#loader {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #fff;
    z-index: 90000;
}

#loader.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
      }
}

div.form_box {
    padding: 16px 15px 15px 15px;
    border: solid #ced4da 1px;
    background-color: #f9fafb;
}

div.sidebar-logo {
    background-color: #45763c;
    div.peer-greed h5.logo-text {
        color: #fff;
    }  
}

div.header-container {
    background-color: #71a84f;
    li a i {
        color: #fff;
    }
}

ul.sidebar-menu {
    background-color: #71a84f;
    li a {
        color: #fff;
    }
    ul li:hover {
        background-color: #2680eb;
    } 
}

#message_wrap {
    position: absolute;
    top: 5%;
    right: 5%;
}

.alert_message {
    background-color: #2196f3;
    color: #fff;
}

.alert_error {
    background-color: #ff383a;
    color: #fff;
}

.updates_section, .users_section, .tickets_section {
    .table_head {
        background-color: #45763c;
        color: #fff; 
    }
    
    button.btn_remove {
        background-color: red;
        color: #fff;
        font-weight: 600;
        border: solid 1px #fff;
        border-radius: 5px;
        padding: 3px 15px 3px 15px;
    }

    .error_message_image {
        color: #f44342;
        font-size: 11px;
    }
    .error_image {
        border: solid 1px #f44342;
        border-radius: 5px;
    }

}
div.user_info {
    border: solid 1px #e9eaeb;
    background-color: #f9fafb;
    margin: 20px 0 0 0;
    padding: 0 5px 0 3px;
}

.btn_suspend {
    margin-left: 10px;
}

.bg_status_1 {
    background-color: #fec526;
}

.bg_status_2 {
    background-color: #ff7171;
    color: #fff;
}

.bg_status_3 {
    background-color: #2680eb;
    color: #fff;
}

.bg_status_4 {
    background-color: #a826eb;
    color: #fff;
}

.bg_status_5 {
    background-color: #7eff60;
}

.bg_status_6 {
    background-color: #ff7171;
    color: #fff;
}

p.greeting {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.5;
}

.active_item {
    background-color: #2680eb;
    color: #fff;
}

ul li:hover {
    background-color: #2680eb;
    a span {
        color: #fff;
    }
}

.t_header {
    background-color: #45763c;
    padding: 11px 0 14px 15px;
    strong {
        color: #fff;
    }
}

div.info_img {
    padding-top: 8px;
    .img_box {
        padding-right: 0;
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 10px;
        cursor: pointer;
    } 
}

.img_modal {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    max-height: 900px,
}

.close_img {
    font-size: 50px;
    color: #fff;
}

.element_none {
    display: none;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 15px;
}
