#loader {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 90000;
}

#loader.fadeOut {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

div.form_box {
  padding: 16px 15px 15px 15px;
  border: solid #ced4da 1px;
  background-color: #f9fafb;
}

div.sidebar-logo {
  background-color: #45763c;
}

div.sidebar-logo div.peer-greed h5.logo-text {
  color: #fff;
}

div.header-container {
  background-color: #71a84f;
}

div.header-container li a i {
  color: #fff;
}

ul.sidebar-menu {
  background-color: #71a84f;
}

ul.sidebar-menu li a {
  color: #fff;
}

ul.sidebar-menu ul li:hover {
  background-color: #2680eb;
}

#message_wrap {
  position: absolute;
  top: 5%;
  right: 5%;
}

.alert_message {
  background-color: #2196f3;
  color: #fff;
}

.updates_section .table_head,
.users_section .table_head,
.tickets_section .table_head {
  background-color: #45763c;
  color: #fff;
}

.updates_section button.btn_remove,
.users_section button.btn_remove,
.tickets_section button.btn_remove {
  background-color: red;
  color: #fff;
  font-weight: 600;
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 3px 15px 3px 15px;
}

.updates_section .error_message_image,
.users_section .error_message_image,
.tickets_section .error_message_image {
  color: #f44342;
  font-size: 11px;
}

.updates_section .error_image,
.users_section .error_image,
.tickets_section .error_image {
  border: solid 1px #f44342;
  border-radius: 5px;
}

div.user_info {
  border: solid 1px #e9eaeb;
  background-color: #f9fafb;
  margin: 20px 0 0 0;
  padding: 0 5px 0 3px;
}

.bg_status_1 {
  background-color: #fec526;
}

.bg_status_2 {
  background-color: #ff7171;
  color: #fff;
}

.bg_status_3 {
  background-color: #2680eb;
  color: #fff;
}

.bg_status_4 {
  background-color: #a826eb;
  color: #fff;
}

.bg_status_5 {
  background-color: #7eff60;
}

p.greeting {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.5;
}

.active_item {
  background-color: #2680eb;
  color: #fff;
}

ul li:hover {
  background-color: #2680eb;
}

ul li:hover a span {
  color: #fff;
}

.tickets_chat {
  padding: 0;
  margin-top: 43px;
  border: solid #efefef 1px;
}

.t_header {
  background-color: #45763c;
  padding: 11px 0 14px 15px;
}

.t_header strong {
  color: #fff;
}

div.info_img {
  padding-top: 8px;
}

div.info_img .img_box {
  padding-right: 0;
}

div.info_img .img_box img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

div.img_modal {
  border-radius: 20px;
}

div.wrapp_img {
  height: 300px;
}

.close_img {
  font-size: 50px;
  color: #fff;
}

