.tickets_chat {
  padding: 0;
  margin-top: 43px;
  border: solid #efefef 1px;
}

.t_header {
  background-color: #45763c;
  padding: 11px 0 14px 15px;
  strong {
    color: #fff;
  }
}

.t_messages {
  min-height: 300px;
}